{% load static %}
<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <title>TBlog - Moments in Time</title>

  <meta name="author" content="Mumin Bhat">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <meta name="description" content="A Full Stack Web Application Made for Blogging. Powered by Django. Contributors: Mumin Bhat.">

  <link rel="shortcut icon" href="{%static 'favicons/images-favicon.png' %}" type="image/x-icon">

  <!-- CSS Plugins -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Crete+Round&amp;family=Work+Sans:wght@500;600&amp;display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{%static 'css/bootstrap-bootstrap.min.css' %}">
  <link rel="stylesheet" href="{%static 'css/tabler-icons-tabler-icons.min.css' %}">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{%static 'css/css-style.css' %}">
</head>
<body>

<div class="header-height-fix"></div>
<header class="header-nav">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
          <!-- logo -->
          <a class="navbar-brand font-weight-bold mb-0" href="/" title="TBlog">
            <img class="img-fluid" width="110" height="35" src="{% static 'images/images-logo.png' %}" alt="TBlog">
          </a>

          <button class="search-toggle d-inline-block d-lg-none ms-auto me-1 me-sm-3" data-toggle="search" aria-label="Search Toggle">
            <span>Search</span>
            <svg width="22" height="22" stroke-width="1.5" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 15.5L19 19" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path d="M5 11C5 14.3137 7.68629 17 11 17C12.6597 17 14.1621 16.3261 15.2483 15.237C16.3308 14.1517 17 12.654 17 11C17 7.68629 14.3137 5 11 5C7.68629 5 5 7.68629 5 11Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></svg>
          </button>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navHeader" aria-controls="navHeader" aria-expanded="false" aria-label="Toggle navigation">
            <i class="ti ti-menu-2 menu-open"></i>
            <i class="ti ti-x menu-close"></i>
          </button>

          <div class="collapse navbar-collapse" id="navHeader">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item @@about">
                <a class="nav-link" href="">About</a>
              </li>
              <li class="nav-item @@elements">
                <a class="nav-link" href="">Elements</a>
              </li>
              <li class="nav-item @@archive">
                <a class="nav-link" href="">Archive</a>
              </li>
              <li class="nav-item @@contact">
                <a class="nav-link" href={%url 'contact'%}>Contact</a>
              </li>
             
            </ul>
            
            <div class="navbar-right d-none d-lg-inline-block">
              <ul class="social-links list-unstyled list-inline">
                <li class="list-inline-item ms-4 d-none d-lg-inline-block">
                  <button class="search-toggle" data-toggle="search" aria-label="Search Toggle">
                    <span>Search</span>
                    <svg width="22" height="22" stroke-width="1.5" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 15.5L19 19" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path d="M5 11C5 14.3137 7.68629 17 11 17C12.6597 17 14.1621 16.3261 15.2483 15.237C16.3308 14.1517 17 12.654 17 11C17 7.68629 14.3137 5 11 5C7.68629 5 5 7.68629 5 11Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                  </button>
                </li>
              </ul>
            </div>
            
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<div class="search-block">
  <div data-toggle="search-close">
    <span class="ti ti-x text-primary"></span>
  </div>
  
  <input type="text" id="js-search-input" placeholder="Type to search blog.." aria-label="search-query">

  <div class="mt-4 card-meta">
    <p class="h4 mb-3">See posts by tags</p>
    <ul class="card-meta-tag list-inline">
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="">Life</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="">Lifestyle</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="">Lighting</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="">Machine</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="">Startups</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="">Work</a>
      </li>
    </ul>
  </div>

  <div class="mt-4 card-meta">
    <p class="h4 mb-3">See posts by categories</p>
    <ul class="card-meta-tag list-inline">
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="categorie-single.html">AI</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="">Earth</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="">Tech</a>
      </li>
    </ul>
  </div>
</div>
